.content-container {
    width: 100%;
    padding: 1rem;
}

.description {
    text-align: start;
    margin-top: 1rem;
}

.list-group-item {
    text-align: start;
    display: flex;
    justify-content: center;
    justify-content: space-between;
}