.content {
    background-image: linear-gradient(0deg, #00000088 30%, #ff4fff00 120%),
                      url(https://i.pinimg.com/originals/49/c4/36/49c436f1c1af4deb291c67e80de332b2.jpg);
    height: 100%;
}

.login-title {
    margin-bottom: -1rem;
}

.login-container {
    margin-top: 60%;
    align-items: center;
    justify-content: center;
}

.btn-green {
    background-color: #6BAA75 !important;
    color: #FFFFFF;
}

.login-text {
    color: #FFFFFF;
}