.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
}

.image-container {
    width: 100%;
    padding-top: 100%;
    position: relative;
}

.image {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 1rem;
    bottom: 1rem;
    right: 1rem;
    top: 1rem;
}

.text-container {
    color: #ffffff;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
